PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=

FRONTEND_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

RESET_TOKEN_EXPIRES_MIN=
JWT_EXPIRES_IN=

ADMIN_EMAIL=
ADMIN_PASSWORD=
